rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      allow read, write: if request.auth.uid == uid;
      match /timeline/{id} {
        allow read, write: if request.auth.uid == uid;
      }
    }
    match /careers/{uid} {
      allow write: if request.auth.uid == uid;
      allow read: if true;
    }
    match /externalServices/{uid} {
      allow write: if request.auth.uid == uid;
      allow read: if true;
    }
    match /skillStacks/{uid} {
      allow read: if true;
    }
    match /skillTags/{document=**} {
      allow read: if true;
    }
  }
}